/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

/* Top Section Styles */
.top-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    padding: 40px;
}

.description-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    padding: 40px;
}

/* Adjusting the photo container */
.photo {
    width: 100%; /* Adjust the width based on container or screen size */
    max-width: 300px; /* Max width of the image */
    margin: 0 auto; /* Center the image horizontally */
}

/* Making the image larger and rectangular */
.photo img {
    width: 100%; /* Make the image responsive to the container */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 0; /* Remove the circular effect */
    object-fit: cover; /* Ensure the image fills the container */
    display: block; /* Ensure the image behaves as a block-level element */
}


.contact-info h1 {
    margin-top: 0;
}

.contact-info p {
    margin: 5px 0;
}

/* Description Section Styles */
.description-section {
    background-color: #fff;
    padding: 15px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.description-section p {
    margin: 0;
}

/* Content Section Styles */
.content-section {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

/* Section Title Styles */
.section-title {
    background-color: #fff;
    padding: 15px;
    cursor: pointer;
    margin: 0;
    font-size: 1.2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-title:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Section Content Styles */
.section-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.section-content p,
.section-content ul {
    padding: 10px 15px;
    margin: 0;
}

.paper-entry {
    margin-bottom: 20px;
}

.paper-entry p {
    margin: 5px 0;
}

.paper-entry a {
    color: #007BFF;
    text-decoration: none;
}

.paper-entry a:hover {
    text-decoration: underline;
}

